.card {
  height: 650px;
  width: 330px;
  border: 0.5px solid;
  border-color: #a6a6a6;
  border-radius: 20px;
  box-shadow: 5px 5px #f2f2f2;
  font-family: Palatino Linotype;
}

#animalName {
  font-family: Verdana;
  font-weight: bold;
  font-size: 15px;
  color: #666666;
  text-align: center;
}

#image {
  text-align: center;
}

.animalImage{ 
  border:1px solid #a6a6a6;
}

.description {
  padding: 4px;
  font-size: 12.5px;
  border:1px solid #a6a6a6;
  height: 230px;
  width: 290px;
  margin: 14px;
  border-radius: 10px;
}

.introduction {
  font-style: italic;
  font-size: 13px;
  margin-top: 4px;
}

.animalData {
  list-style: none;
  text-align: left;
  padding-left: 0px;
}

.label {
  font-weight: bold;
}